<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/head :: head}"></head>
<body>
<header th:replace="~{components/header :: header}"></header>
<main>
    <div id="main" class="container">
        <article id="main-col">
            <div id="topics">
                <h1>Upravit projekt</h1>
                <form action="#" th:action="@{/projects/edit}" th:object="${project}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <label for="title">Název:</label><br>
                    <input type="text" id="title" th:field="*{title}" required><br>
                    <label for="description">Popis:</label><br>
                    <input type="text" id="description" th:field="*{description}" required><br>

                    <label for="tags">Tagy:</label><br>
                    <select id="tags" th:field="*{tags}" multiple>
                        <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
                    </select><br>
                    <input class="button_form" type="submit" value="Save">
                </form>
            </div>
        </article>
    </div>
</main>
<footer th:replace="~{components/footer :: footer}"></footer>
</body>
</html>