<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/head :: head}"></head>
<body>
<header th:replace="~{components/header :: header}"></header>
<main>
    <section id="introduction">
        <div class="container">
            <h2>Projekty</h2>
            <div>Zde je seznam projektů:</div>
        </div>
    </section>
    <section th:replace="~{components/projects :: projects}"></section>
</main>
<footer th:replace="~{components/footer :: footer}"></footer>
</body>
</html>