<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ForLife | Výživa</title>
</head>

<body>
<header th:include="components/header"></header>
<main>
    <div id="main" class="container">

        <article id="main-col">
            <h2 class="page-title" th:text="${project.title}"></h2>
            <ul id="topics">
                <li>
                    <h3 th:text="${project.title}"></h3>
                    <p th:text="${project.description}"></p>
                </li>
            </ul>
            <div th:if="${#authentication.name == project.owner.username}">
                <a class="button_form" th:href="@{/project/{id}/images/create(id=${project.id})}">Přidat obrázek</a>
                <a class="button_form" th:href="@{/project/edit/{id}(id=${project.id})}">Upravit</a>
                <form action="#" th:action="@{/project/delete/{id}(id=${project.id})}" th:method="get"
                      onsubmit="return confirm('Are you sure you want to delete this project?');">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </article>

        <section id="boxes">
            <div class="container">
                <h3>Obrázky</h3>
                <div class="box" th:each="image: ${images}">
                    <img th:src="@{/media/{image}(image=*{image.filePath})}" alt="">
                    <div th:if="${#authentication.name == project.owner.username}">
                        <form action="#" th:action="@{/project/{projectId}/images/delete/{imageId}(projectId=${project.id}, imageId=*{image.id})}" th:method="get"
                              onsubmit="return confirm('Are you sure you want to delete this image?');">
                            <input type="submit" value="Delete">
                        </form>
                    </div>
                </div>
                <h3>Tagy</h3>
                <div class="box" th:each="tag : ${tags}">

                    <!--                    <a th:href="@{/tags/{tagId}(tagId=*{tag.id})}">-->
                    <h4 th:text="*{tag.name}"></h4>
                    <!--                    </a>-->
                </div>
                <a sec:authorize="isAuthenticated" class="button_form"
                   th:href="@{/projects/{projectId}/comments/create(projectId=*{project.id})}">Přidat komentář</a>
                <h3>Komentáře</h3>
                <div class="box" th:each="comment : ${comments}">
                    <h4 th:text="*{comment.owner.username}"></h4>
                    <p th:text="*{comment.value}"></p>
                    <form th:if="${#authentication.name == comment.owner.username}" action="#"
                          th:action="@{/projects/{projectId}/comments/delete/{commentId}(projectId=${project.id}, commentId=${comment.id})}"
                          th:method="get"
                          onsubmit="return confirm('Are you sure you want to delete this comment?');">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </section>
        <aside id="sidebar">
            <div class="dark">
                <a th:href="@{/profile/{profileId}(profileId=*{project.owner.id})}"><h3
                        th:text="${project.owner.username}"></h3></a>
                <p th:text="${project.owner.firstName}+' '+${project.owner.lastName}"></p>
            </div>
        </aside>
    </div>
</main>
<footer>
    <p>Studentský zápočtový projekt na KTPW1 | 2023 Copyright &copy; Hanuš Martin | Email: hanusma2@uhk.cz |
        Poslední úprava provedena 20. ledna 2023</p>
</footer>
</body>

</html>