<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{components/head :: head}"></head>


<body>
<header th:replace="~{components/header :: header}"></header>
<main>
    <div id="main" class="container">
        <article id="main-col">
            <div id="topics">
                <h1>Přidat obrázek</h1>
                <form action="#" th:action="@{/projects/{projectId}/images/create(projectId=${projectId})}"
                      th:object="${image}" method="post" enctype="multipart/form-data">
                    <label for="file">Vyberte obrázek:</label>
                    <input type="file" id="file" name="file" accept="image/*" required>
                    <button class="button_form" type="submit">Uložit</button>
                </form>
            </div>
        </article>
    </div>
</main>
<footer th:replace="~{components/footer :: footer}"></footer>

</body>

</html>