<div id="mySidenav" class="sidenav" xmlns:sec="http://www.w3.org/1999/xhtml">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
        <li class="current"><a th:href="@{/}">Domů</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Přihlášení</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Registrace</a></li>
        <li sec:authorize="isAuthenticated"><a th:href="@{/logout}">Odhlásit se</a></li>
    </ul>
</div>