<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<body>
<section id="boxes" th:fragment="projects">
    <div class="container">
        <div class="box" th:each="project : ${projects}">
            <img th:if="${!project.images.isEmpty()}"
                 th:src="@{/media/{image}(image=*{project.images[0].filePath})}" alt=""/>
            <img th:unless="${!project.images.isEmpty()}" th:src="@{/images/project-default.jpg}" alt=""/>
            <a th:href="@{/projects/{id}(id=*{project.id})}">

                <h3 th:text="*{project.title}"></h3>
            </a>

            <p th:text="*{project.description}"></p>
        </div>
    </div>
</section>
</body>
</html>