<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/head :: head}"></head>
<body>
<header th:replace="~{components/header :: header}"></header>
<main>
    <div id="main" class="container">
        <article id="main-col">
            <div id="topics">
                <h1>Upravit profil</h1>
                <form action="#" th:action="@{/profiles/edit/{id}(id=*{id})}" th:object="${userAccount}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <label for="firstName">Křestní jméno:</label><br>
                    <input type="text" id="firstName" th:field="*{firstName}" required><br>
                    <label for="lastName">Příjmení:</label><br>
                    <input type="text" id="lastName" th:field="*{lastName}" required><br>
                    <label for="mail">Mail:</label><br>
                    <input type="email" id="mail" th:field="*{mail}" required><br>
                    <label for="phoneNumber">Telefonní číslo:</label><br>
                    <input type="tel" id="phoneNumber" th:field="*{phoneNumber}"><br>
                    <label for="linkedin">LinkedIn:</label><br>
                    <input type="url" id="linkedin" th:field="*{linkedin}"><br>
                    <label for="github">GitHub/Gitlab:</label><br>
                    <input type="url" id="github" th:field="*{github}"><br>
                    <input class="button_form" type="submit" value="Uložit">
                </form>
            </div>
        </article>
    </div>
</main>
<footer th:replace="~{components/footer :: footer}"></footer>
</body>
</html>