<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/head :: head}"></head>
<body>
<header th:replace="~{components/header :: header}"></header>
<main>
    <div id="main" class="container">
        <article id="main-col">
            <div id="topics">
                <div th:if="${#authentication.name == profile.get().username} or ${isAdmin}">
                    <a class="button_form" th:href="@{/profiles/edit/{id}(id=${profile.get().id})}">Upravit</a>
                    <form action="#" th:action="@{/profiles/delete/{id}(id=${profile.get().id})}" th:method="get"
                          onsubmit="return confirm('Jste si jistí, že chcete odstranit Váš profil?');">
                        <input class="button_form" type="submit" value="Odstranit">
                    </form>
                </div>
                <h2 th:text="${profile.get().username}"></h2>
                <h3>Jméno:</h3>
                <div th:text="${profile.get().firstName} + ' ' + ${profile.get().lastName}"></div>
                <h3>Mail:</h3>
                <div th:text="${profile.get().mail}"></div>
                <h3 th:if="${profile.get().github != ''}">GitHub/GitLab:</h3>
                <div th:text="${profile.get().github}"></div>
                <h3 th:if="${profile.get().linkedin != ''}">LinkedIn:</h3>
                <div th:text="${profile.get().linkedin}"></div>
                <h3 th:if="${profile.get().phoneNumber != ''}">Telefon:</h3>
                <div th:text="${profile.get().phoneNumber}"></div>
            </div>
        </article>
        <aside id="sidebar">
            <div class="light">
                <div id="add-skill" th:if="${#authentication.name == profile.get().username} or ${isAdmin}"><a
                        class="button_form"
                        th:href="@{/profiles/{profileId}/skills/create(profileId=${profile.get().id})}">Přidat
                    dovednost</a></div>
                <h2>Dovednosti</h2>
                <div class="box" th:each="skill : ${skills}">
                    <div class="skill-text">
                        <h3 th:text="*{skill.name}"></h3>
                        <p th:text="*{skill.detail}"></p>
                    </div>
                    <div class="skill-buttons" th:if="${#authentication.name == skill.owner.username} or ${isAdmin}">
                        <a class="button_form"
                           th:href="@{/profiles/{profileId}/skills/edit/{id}(profileId=${userId}, id=${skill.id})}">Upravit</a>
                        <form action="#"
                              th:action="@{/profiles/{profileId}/skills/delete/{id}(profileId=${userId}, id=${skill.id})}"
                              th:method="get"
                              onsubmit="return confirm('Jste si jistí, že chcete odstranit tuto dovednost?');">
                            <input class="button_form" type="submit" value="Odstranit">
                        </form>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</main>
<footer th:replace="~{components/footer :: footer}"></footer>

</body>

</html>