<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ForLife</title>
</head>

<body>
<header th:include="components/header"></header>
<main>
    <div th:if="${#authentication.name == profile.get().username}">
        <a class="button_form" th:href="@{/profile/edit/{id}(id=${profile.get().id})}">Upravit</a>
    </div>
    <div id="main" class="container">
        <article id="main-col">
            <h2 class="page-title" th:text="${profile.get().username}"></h2>
            <ul id="topics">
                <li>
                    <h3 th:text="${profile.get().username}"></h3>
                    <div th:text="${profile.get().firstName}"></div>
                    <div th:text="${profile.get().lastName}"></div>
                    <div th:text="${profile.get().mail}"></div>
                    <div th:text="${profile.get().github}"></div>
                    <div th:text="${profile.get().linkedin}"></div>
                    <div th:text="${profile.get().phoneNumber}"></div>
                </li>
            </ul>
        </article>
        <div sec:authorize="isAuthenticated"><a th:href="@{/skills/create}">Přidat novou dovednost</a></div>
        <section id="boxes">
            <div class="container">
                <div class="box" th:each="skill : ${skills}">
                    <a th:href="@{/skills/{skillId}(skillId=*{skill.id})}"><h3 th:text="*{skill.name}"></h3></a>
                    <p th:text="*{skill.detail}"></p>
                </div>
            </div>
        </section>
    </div>
</main>
<footer>
    <p>Studentský zápočtový projekt na KTPW1 | 2023 Copyright &copy; Hanuš Martin | Email: hanusma2@uhk.cz |
        Poslední úprava provedena 20. ledna 2023</p>
</footer>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    window.addEventListener('resize', function (event) {
        if (window.innerWidth > 768) {
            document.getElementById("mySidenav").style.width = "100%";
        } else {
            document.getElementById("mySidenav").style.width = "0";
        }
    }, true);

</script>
</body>

</html>