<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/head :: head}"></head>
<body>
<header th:replace="~{components/header :: header}"></header>
<main>
    <div id="main" class="container">
        <article id="main-col">
            <div id="topics">
                <h1>Registrace</h1>
                <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                    <label for="username">Uživatelské jméno:</label><br>
                    <input type="text" id="username" th:field="*{username}" placeholder="Username" required><br>
                    <label for="firstname">Křestní jméno:</label><br>
                    <input type="text" id="firstname" th:field="*{firstName}" placeholder="First Name" required><br>
                    <label for="lastname">Příjmení:</label><br>
                    <input type="text" id="lastname" th:field="*{lastName}" placeholder="Last Name" required><br>
                    <label for="mail">Mail:</label><br>
                    <input type="email" id="mail" th:field="*{mail}" placeholder="Mail" required><br>
                    <label for="password">Heslo:</label><br>
                    <input type="password" id="password" th:field="*{password}" placeholder="Password" required><br>
                    <input class="button_form" type="submit" value="Register">
                </form>
            </div>
        </article>
    </div>
</main>
<footer th:replace="~{components/footer :: footer}"></footer>
</body>
</html>