<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ForLife</title>
</head>

<body>
    <header>
        <div class="container">
            <a href="home.html">
                <div id="logo">
                    <h1>For<span class="highlight">Life</span></h1>
                </div>
            </a>

            <span id="burger_menu" onclick="openNav()">&#9776;</span>

            <nav>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <ul>
                        <li class="current"><a href="home.html">Domů</a></li>
                        <li><a href="diet.html">Výživa</a></li>
                        <li><a href="sport.html">Sport</a></li>
                        <li><a href="relax.html">Relax</a></li>
                        <li><a href="about.html">O nás</a></li>
                        <li><a th:href="@{/login}">Přihlášení</a></li>
                        <li><a th:href="@{/register}">Registrace</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <section id="showcase">
            <div class="container">
                <h2>Zdravý životní styl je základ!</h2>
                <p>
                    Potřebujete poradit s výživou? Chcete zhubnout? Hledáte způsob, jak zlepšit svůj životní styl?
                    Neváhejte napsat!
                </p>
            </div>
        </section>

        <section id="introduction">
            <div class="container">
                <h2>S čím Vám pomůžeme?</h2>
                <div>Zde si můžete vybrat z několika různých témat:</div>
            </div>
        </section>

        <section id="boxes">
            <div class="container">
                <div class="box" th:each="project: ${projects}">
                    <h3 th:text="${project.title}"></h3>
                    <p th:text="${project.description}"></p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Studentský zápočtový projekt na KTPW1 | 2023 Copyright &copy; Hanuš Martin | Email: hanusma2@uhk.cz |
            Poslední úprava provedena 20. ledna 2023</p>
    </footer>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        window.addEventListener('resize', function (event) {
            if (window.innerWidth > 768) {
                document.getElementById("mySidenav").style.width = "100%";
            } else {
                document.getElementById("mySidenav").style.width = "0";
            }
        }, true);

    </script>
</body>

</html>