<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/head :: head}"></head>
<body>
<header th:replace="~{components/header :: header}"></header>
<main>
    <section id="showcase">
        <div class="container">
            <h2>Sdílejte svou práci</h2>
            <p>Vítejte na naší stránce! Zde si můžete projít různé projekty, které s Vámi sdílí ostatní developeři.</p>
        </div>
    </section>

    <section id="introduction">
        <div class="container">
            <h2>Projekty</h2>
            <div>Zde je seznam posledních sdílených projektů:</div>
        </div>
    </section>

    <section th:replace="~{components/projects :: projects}"></section>
</main>
<footer th:replace="~{components/footer :: footer}"></footer>
</body>
</html>