<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/head :: head}"></head>
<body>
<header th:replace="~{components/header :: header}"></header>
<main>
    <div id="main" class="container">
        <article id="main-col">
            <div id="topics">
                <h1>Vytvořit komentář</h1>
                <form action="#" th:action="@{/projects/{id}/comments/create(id=${projectId})}" th:object="${comment}"
                      method="post">
                    <label for="value"></label><br>
                    <textarea id="value" th:field="*{value}" required></textarea><br>
                    <input class="button_form" type="submit" value="Vytvořit">
                </form>
            </div>
        </article>
    </div>
</main>
<footer th:replace="~{components/footer :: footer}"></footer>
</body>
</html>